@font-face {
    font-family: "museo slab";
    src: url("museo slab.ttf")
  }
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap'); /* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap'); /* font-family: 'Indie Flower', cursive */

/* Base Style */
* {
    box-sizing: border-box;
}
body {
    
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
}

h1,h2,h3 {
    margin: 0;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

/* Styling Navigation */
.berkaca {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Indie Flower', cursive;     
}
.berkaca a{
    padding: 0 5.25rem;
}
.navigation {
    display: none;
}
.navigation a {
    padding: 20px 25px;  
}

.container {
    margin: 10px;
}
/* Styling Banner */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    background: linear-gradient(rgba(0,0,0,.8),transparent 90%), 
                black url(img/berkaca.jpeg) center no-repeat;
    background-size: cover;
    height: 20em; /* 20em = 320px */
    text-align: center;
    color: white;
}
.banner h2 {
    font-family: "playfair display", Helvetica, Arial;
}
.banner h3 {
    font : italic 1.4em Helvetica, Arial;
}
/* Additional Nav */
.slider {
    background-color:#000; 
    text-align: center;   
}
.add-nav,.add,.click {
    display: inline-block;
}
.add a {
    color: #fff;
    padding: 0.3125em 1.48em;
}   
a.click:hover {
    background-color: white;
    color: #000;
}

  
  
